YANDEX_API_KEY=replace_with_secret_api_key
YANDEX_TTS_ENDPOINT=tts.api.ml.yandexcloud.kz:443
PORT=3001
HTTPS_PORT=3443
HTTPS_PFX_PATH=./certs/localhost.pfx
HTTPS_PFX_PASSPHRASE=inclusiveapp-localhost
